<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gMapMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gMapMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gMapMaker.Properties.Settings>
            <setting name="CacheFullPath" serializeAs="String">
                <value>MGMapsCache</value>
            </setting>
            <setting name="RightLong" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="BottomLat" serializeAs="String">
                <value>-45</value>
            </setting>
            <setting name="LeftLong" serializeAs="String">
                <value>-45</value>
            </setting>
            <setting name="TopLat" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="ZoomLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>PNG</value>
            </setting>
            <setting name="GrayScale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TileType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Dither" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OperatingMode" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ProxyListURLs" serializeAs="String">
                <value>http://www.proxy4free.com/page1.html|http://www.proxy4free.com/page2.html|http://www.proxy4free.com/page3.html|http://www.proxy4free.com/page4.html|http://www.proxy4free.com/page5.html</value>
            </setting>
            <setting name="Proxys" serializeAs="String">
                <value />
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrivingMapTransparency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="NumberOfSlices" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MGMapsMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MGMapsHashSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MGMapsCacheFolderName" serializeAs="String">
                <value>MGMapsCache</value>
            </setting>
            <setting name="GroupByZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxDownloadsInParallel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MGMapsTilesPerFile" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProxyListRegexp" serializeAs="String">
                <value>&lt;td&gt;(?&lt;ip&gt;\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})&lt;/td&gt;\s?&lt;td&gt;(?&lt;port&gt;\d{1,4})&lt;/td&gt;</value>
            </setting>
            <setting name="SlowDown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlowDownDelay" serializeAs="String">
                <value>1000</value>
            </setting>
        </gMapMaker.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <gMapMaker.Properties.Settings>
            <setting name="GoogleSatURL" serializeAs="String">
                <value>http://khm{GOOG_DIGIT}.google.com/kh/v=58&amp;x={X}&amp;y={Y}&amp;z={ZOOM}&amp;s={GALILEO}</value>
            </setting>
            <setting name="GoogleMapURL" serializeAs="String">
                <value>http://mt{GOOG_DIGIT}.google.com/vt/lyrs=m@121&amp;hl=en&amp;x={X}&amp;y={Y}&amp;z={ZOOM}&amp;s={GALILEO}</value>
            </setting>
            <setting name="GoogleHybURL" serializeAs="String">
                <value>http://mt{GOOG_DIGIT}.google.com/vt/lyrs=h@121&amp;hl=en&amp;x={X}&amp;y={Y}&amp;z={ZOOM}&amp;s={GALILEO}</value>
            </setting>
            <setting name="GoogleReferrer" serializeAs="String">
                <value>http://maps.google.com/</value>
            </setting>
            <setting name="UseProxyForAllMapTypes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HaltOnProxyListExhausted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="HaltOnImageFileCorrupted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveBlankImageForMissingTiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoogleTerURL" serializeAs="String">
                <value>http://mt{GOOG_DIGIT}.google.com/vt/lyrs=t@108,r@121&amp;hl=en&amp;x={X}&amp;y={Y}&amp;z={ZOOM}&amp;s={GALILEO}</value>
            </setting>
            <setting name="GoogleChinaURL" serializeAs="String">
                <value>http://mt{GOOG_DIGIT}.google.cn/vt/lyrs=m@121&amp;hl=en&amp;gl=cn&amp;x={X}&amp;y={Y}&amp;z={ZOOM}&amp;s={GALILEO}</value>
            </setting>
            <setting name="YahooMapURL" serializeAs="String">
                <value>http://maps{Y_DIGIT}.yimg.com/hx/tl?v=4.3&amp;.intl=en&amp;x={X}&amp;y={YAHOO_Y}&amp;z={YAHOO_ZOOM}&amp;r=1</value>
            </setting>
            <setting name="YahooSatURL" serializeAs="String">
                <value>http://maps{Y_DIGIT}.yimg.com/ae/ximg?v=1.9&amp;t=a&amp;s=256&amp;.intl=en&amp;x={X}&amp;y={YAHOO_Y}&amp;z={YAHOO_ZOOM}&amp;r=1</value>
            </setting>
            <setting name="YahooInMapURL" serializeAs="String">
                <value>http://maps.yimg.com/hw/tile?locale=en&amp;imgtype=png&amp;yimgv=1.2&amp;v=4.1&amp;x={X}&amp;y={YAHOO_Y}&amp;z={YAHOO_ZOOM_2}</value>
            </setting>
            <setting name="YahooInHybURL" serializeAs="String">
                <value>http://maps.yimg.com/hw/tile?imgtype=png&amp;yimgv=0.95&amp;t=h&amp;x={X}&amp;y={YAHOO_Y}&amp;z={YAHOO_ZOOM_2}</value>
            </setting>
            <setting name="YahooHybURL" serializeAs="String">
                <value>http://maps{Y_DIGIT}.yimg.com/hx/tl?v=4.3&amp;t=h&amp;.intl=en&amp;x={X}&amp;y={YAHOO_Y}&amp;z={YAHOO_ZOOM}&amp;r=1</value>
            </setting>
            <setting name="MicrosoftBrMapURL" serializeAs="String">
                <value>http://imakm{MS_DIGITBR}.maplink3.com.br/maps.ashx?v={QUAD}|t&amp;call=2.2.4</value>
            </setting>
            <setting name="MicrosoftHybURL" serializeAs="String">
                <value>http://ecn.t{MS_DIGIT}.tiles.virtualearth.net/tiles/h{QUAD}.png?g=441&amp;mkt=en-us&amp;n=z</value>
            </setting>
            <setting name="MicrosoftSatURL" serializeAs="String">
                <value>http://ecn.t{MS_DIGIT}.tiles.virtualearth.net/tiles/a{QUAD}.png?g=441&amp;mkt=en-us&amp;n=z</value>
            </setting>
            <setting name="MicrosoftMapURL" serializeAs="String">
                <value>http://ecn.t{MS_DIGIT}.tiles.virtualearth.net/tiles/r{QUAD}.png?g=441&amp;mkt=en-us&amp;n=z</value>
            </setting>
            <setting name="MicrosoftTerURL" serializeAs="String">
                <value>http://ecn.t{MS_DIGIT}.tiles.virtualearth.net/tiles/r{QUAD}.png?g=441&amp;mkt=en-us&amp;shading=hill&amp;n=z</value>
            </setting>
            <setting name="OpenStreetMapURL" serializeAs="String">
                <value>http://tile.openstreetmap.org/{ZOOM}/{X}/{Y}.png</value>
            </setting>
            <setting name="OSMARenderURL" serializeAs="String">
                <value>http://tah.openstreetmap.org/Tiles/tile/{ZOOM}/{X}/{Y}.png</value>
            </setting>
            <setting name="OpenAerialMapURL" serializeAs="String">
                <value>http://tile.openaerialmap.org/tiles/?v=mgm&amp;layer=openaerialmap-900913&amp;x={X}&amp;y={Y}&amp;zoom={OAM_ZOOM}</value>
            </setting>
            <setting name="OpenCycleMapURL" serializeAs="String">
                <value>http://andy.sandbox.cloudmade.com/tiles/cycle/{ZOOM}/{X}/{Y}.png</value>
            </setting>
        </gMapMaker.Properties.Settings>
    </applicationSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>